html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#floating-search {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 75%;
  z-index: 5;
}

#floating-jumbotron {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 50%;
  bottom: 5%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 2%;
}