{% extends "base.html" %}
{% block title %}restaurant_map{% endblock %}
{% block content %}
	<div id="floating-cuisines">
	So you want to eat these kinds of food?
	{% for cuisine in cuisines %}
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="" checked>
	    {{ cuisine }}
	  </label>
	</div>
	{% endfor %}
	</div>

    <div id="map"></div>
    <script>
    	var zip = "{{ zip }}";
    	var restaurants = {{ restaurants|tojson|safe }};
    	console.log(restaurants);
    </script>
    <script src="{{ url_for('static', filename='javascript/google_maps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=secret&callback=initRestaurantMap"
        async defer>
    </script>
{% endblock %}