{% extends "base.html" %}
{% block title %}big_map{% endblock %}
{% block content %}
    <div class="input-group" id="floating-search">
      <input type="text" id="address" class="form-control" placeholder="Where do you want to eat?..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>

    <div id="floating-jumbotron">
      <h1>Welcome to mealparty!</h1>
      <p>We invite you to use our web application for its the ability to create and join groups.  Based on his/her preferences (price range, cuisine, desired group number, location, etc), a user will be able to use our grouping system to find other users in the area who are in the mood for similar restaraunts and have a compatible schedule.<p>
      <p>So go on and tell us more about where you would like to eat using our search bar on the map</p>
    </div>

    <div class="alert alert-info" role="alert" id="floating-alert">
      Congratulations, it seems like this is a valid area to eat at.
    </div>

    <div id="map"></div>
    <script src="{{ url_for('static', filename='javascript/google_maps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmxU_ZWa6ZWOxn1sTvnvN1y96wK2y_u8&callback=initBigMap"
        async defer>
    </script>
{% endblock %}
